# Copy to `.env` in the gateway working directory (see tb-loki-central-logger).
# https://pypi.org/project/tb-loki-central-logger/

GRAFANA_CLOUD_URL=https://logs-prod-XXX.grafana.net
GRAFANA_CLOUD_USER=your_stack_numeric_user
# Prefer GRAFANA_CLOUD_API_KEY; GRAFANA_CLOUD_WRITE_API_KEY is also supported.
GRAFANA_CLOUD_API_KEY=your_loki_write_token
